html, body {
  height: 100%;
  width: 100%; 
  }

html {
  font-size: 16px; 
}

body {
  margin: 0;
  font-family: "Source Han Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif; 
}

.header {
  margin: 20px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit; 
}

li {
  list-style-type :none;
}